*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 1300px;
    margin: 0 auto;
    min-width: 320px;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    
}

.header{
    width: 100%;
    
}
.header_navbar-container{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(223, 66, 12);
}
.header_logo img{
    width: 100%;
    height: 70px;
    padding-left: 40px;
}
.bar-btn{
    margin-right: 50px; 
    width: 20px;
    height: 30px;
    position: relative;
    cursor: pointer;
}
.bar-btn #spn1,#spn2,#spn3{
    position: absolute;
    content: '';
    background: #1d428a;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    transition: all 400ms ease;
}
#spn2{
    top: 11px;

}
#spn3{
    top: 22px;
}
#check:checked ~ .bar-btn #spn1{
    transform: rotate(140deg);
    top: 10px;
}
#check:checked ~ .bar-btn #spn2{
    opacity: 0;
}
#check:checked ~ .bar-btn #spn3{
    transform: rotate(-140deg);
    top: 10px;
}

.header_nav{
    position: fixed;
    width: 100%;
    height: 0;
    top: 100px;
    background: rgba(0, 0, 0, .99);
    text-align: center;
    transition: all .3s;
    z-index: 999999;
}
.header_nav li{
    list-style: none;
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;

}
.header_nav li a{
    text-decoration: none;
    color: #ffff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
}
.header_nav li a.active, .header_nav li a:hover{
    color: rgb(223, 66, 12);
    transition: .3s;
}
#check{
    display: none;
}
#check:checked ~ .header_nav{
    height: 100vh;
}
#check:checked ~ .header_nav li{
    display: block;
}

/* Banner text */

.section_banner{
    background-image: url('img/fondobanner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    align-items: end;
    justify-items: center;
    align-content: center;
    text-align: center;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    color: #ffff;
    
}
.banner_text{
    text-align: center;
    display: grid;
    justify-content: center;
    justify-items: center;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: .3s;
    opacity: 0;

}
@keyframes left-in {
    0%{
        transform: translateX(-150px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 2;
    }
}
    


.banner_text h3{
    font-size: 1.4rem;

}
.banner_text h1{
    margin-top: 10px;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.banner_text .edit{
    color: rgb(29 66 138);
}
.banner_text p{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 20px;
}

/* boton */

.button-82-pushable {
    margin-top: 10px;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    rgb(194, 156, 163) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 10px 35px;
  text-align: center;
  border-radius: 12px;
  font-size: 2rem;
  color: white;
  background: rgb(240, 60, 0);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 2rem;
    padding: 18px 58px;
   
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

/* img */
.header_picture{
    display: flex;
    align-items: center;
    height: 400px;
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 1s;
    opacity: 0;
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 2;
    }
}


.header_picture .principal{
    width: 260px;

}

/* Main */

.main_container{
    width: 100%;
    height: 100vh;
}
.main_contain-description{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 350px; */
    height: 100%;
}

.main_title{
    margin-top: 30px;
    font-size: 2.4rem;
    color: #1d428a;
    text-align: center;
    margin-bottom: 30px;
}
.main_contain-description{
    text-align: center;
    padding: 0 10px;
    width: 100%;
    height: 600px;
    color: black;
}
.main_text {
   text-align: start;
   margin-bottom: 30px;

}
.main_text h2{
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;   
}
.main_text p{
    font-size: 1rem;
    color: black;
    margin-bottom: 30px;
    padding: 10px;
    margin: 0 10px;
    text-align: inherit;
}
.main_img{
    height: 400px;
}
.main_img img{
    width: 200px;
}

/* galery */
.galery{
    width: 100%;   
    height: 100vh;

    
}

.galery .galery_title{
    margin-top: 60px;
    font-size: 2.4rem;
    color: #1d428a;
    text-align: center;
    margin-bottom: 30px;
}
/*************** swiper galery ********************/


.swiper {
    width: 100%;
    height: 100vh;
    display: grid;
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }


  .swiper-slide img {  
    
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* video */
.video-container{
    background-image: url('img/video.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1300px;
    /* width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; */
    position: relative;
    width: 100%;
    height: 100vh;
    padding-bottom: 56.25%;
}
.video{
  
    /* width: 100%;
    height: auto;
    display: flex;
    justify-content: center; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

/* champion */

.champion_container{
    width: 100%;
    height: 100vh;

}
.background{
    width: 100%;
    height: 100vh;
    background-image: url('img/champion.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.champion_title{
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.champion_title h2{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1rem;
    color: #ffff;
    text-align: center;
}
.champion_text{
    width: 100%;
    height: 400px;
    text-align: center;

}
.champion_text p{
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    line-height: 3rem;
}

/* Footer */

footer{
    width: 100%;
    background-color: #1d428a;
}
.footer-container{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    gap: 36px;
    text-align: center;
    padding: 20px 40px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.footer-container .footer-logo figure{
    width: 100%;
    height: 100%;
    display: flex;
    place-content: center;
}
.footer-logo figure a img{
    width: 40px;
}
.footer-text{
    
    text-align: center;
} 
.footer-text h2{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    /* text-align: initial; */
    margin-bottom: 20px;
}
.footer-text p{
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
    line-height: 1.8rem;
}
.footer-social h2{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}
.footer-icons a{
    font-size: 3rem;
    color: #Ffff;
    margin-right: 10px;
    margin-top: 20px;
    text-decoration: none;
    transition: all 300ms ease;
    padding: 10px;
    background-color: #ff5722;
}
.footer-icons a:hover{
    cursor: pointer;
    color: rgb(53, 65, 171);
}
.footer-finish{
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    color: #Ffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ff5722;
}

/* responsive header desktop */

@media screen and (min-width: 740px) {

.header_logo img{
    margin-left: 20px;
}
.bar-btn{
    display: none;
}
.header_nav{
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 60px;
}
.header_nav li{
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
}
.header_nav li a{
    font-size: 1.3rem;
    font-weight: bold;
    
    
}
.header_nav li a:hover{
    color: #1d428a;
}

/* banner */
.section_banner{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 500px));
    grid-template-rows: 600px;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    overflow: hidden;

}
.banner_text p{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.banner_text{
    text-align: initial;
    display: grid;
    justify-content: center;
    justify-items: center;

}  
.section_banner h1{
    font-size: 3rem;
    text-align: center;
    
}
.section_banner h3{
    font-size: 2rem;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  
}

.button-87:active {
  transform: scale(0.95);
}

.header_picture .principal{
    width: 340px;
    

}
    /* MAIN */

    .main_contain-description{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: 530px;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0 20px;
    }
    .main_title{
        font-size: 2rem;
        font-weight: 700;
        
    }
    .main_text {
        text-align: start;
        padding: 10px;
        height: 530px;
        display: flex;
        flex-direction: column;
        align-items: center;
        

    }
    .main_text h2{
        font-size: 2rem;
    }
    .main_text p{
        font-size: 1.7rem;
        color: black;
        
    }
    .main_img{
        height: 400px;
        display: flex;
        align-items: center;
     }
    .main_img img{
        width: 300px;
    }

     /* swiper */
    .galery .galery_title{
        font-size: 2rem;
        font-weight: 700;
    }



    .galery{
        width: 100%;   
        height: 800px;
        display: flex;
        flex-direction: column;
    }

    .swiper {
        width: 100%;
        height: 700px;
        display: grid;
    
    }
    .swiper-slide img {  
    
        display: block;
        width: 1000px;
        height: 1100px;
        object-fit: cover;
    }

      /* champion */
    .champion_title{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .champion_title h2{
        font-size: 3.7rem;
    }
    .champion_text p{
        font-size: 2rem;
        line-height: 4rem;
    }
    /* footer */
    .footer-container{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 60px 0;
        align-items: center;
        justify-items: center;
    }
    .footer-text{
        text-align: initial;
    }
    .footer-text h2{
        font-size: 2rem;
        
    }
    .footer-text p{
        font-size: 1.3rem;
       
    }
    .footer-social h2{
        font-size: 2rem;
    
    }
    .footer-icons a{
        font-size: 3rem;
       
    }

}



@media screen and (min-width: 1000px) {
.header_nav{
    margin-right: 90px;
}
.section_banner h1{
    font-size: 4.4rem;
}
.banner_text p{
    font-size: 2.7;
}
.section_banner{
    overflow: hidden;
}

.section_banner h3{
    font-size: 2.5rem;
}
.header_picture .principal{
    width: 370px;
}
.button-82-front{
    font-size: 2rem;
    padding: 24px 72px;
}
/* main */
.main_contain-description{
    display: grid;
    grid-template-columns: repeat(2, 560px);
    grid-template-rows: 700px;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0 20px;
    }
    .main_title{
        font-size: 2.2rem;
        font-weight: 500;
        
    }
    .main_text {
        text-align: start;
        padding: 20px;
        margin: 10px;
        display: flex;
        align-items: center;
        
     }
     .main_text h2{
        font-size: 2.6rem;
     }
     .main_text p{
         font-size: 1.8rem;
         color: black;
         text-align: inherit;
        
     }
     .main_img{
         height: 700px;
         display: flex;
         align-items: center;
     }
     .main_img img{
         width: 335px;
     }

     /* swiper */
     .galery .galery_title{
        font-size: 3rem;
        font-weight: bold;
    }
     .galery{
        width: 100%;   
        height: 1100px;
        display: flex;
        flex-direction: column;
    }

     .swiper {
        width: 100%;
        height: 1000px;
        display: grid;
    
      }
      .swiper-slide img {  
    
        display: block;
        width: 1400px;
        height: 1400px;
        object-fit: cover;
      }
      /* champion */

      .champion_title{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .champion_title h2{
        font-size: 4rem;
    }
    .champion_text p{
        font-size: 2.5rem;
        line-height: 4rem;
    }
    /* footer */
    .footer-text{
    
        text-align: initial;
    }
    .footer-text h2{
        font-size: 2.5rem;
        
    }
    .footer-text p{
        font-size: 1.6rem;
        line-height: 2rem;
       
    }
    .footer-social h2{
        font-size: 2.5rem;
    
    }
    .footer-icons a{
        font-size: 4rem;
       
    }
}

